p {
    background-color: bisque;
    padding: 10px;
}

.texto1 {
    font-family: coolvetica;
    color: white;
    text-align: center;
    position: absolute;
    font-size: 36px;
    left: 0;
    right: 0;
    top: 47%;
}

.texto2 {
    font-family: coolvetica;
    color: white;
    text-align: center;
    position: absolute;
    font-size: 20px;
    left: 0;
    right: 0;
    top: 47%;
}

.texto3 {
    justify-content: center;
}

.elemento {
    cursor: pointer;
}

.elemento:hover {
    opacity: 30%;
}

.copyright {
    display: flex;
    text-align: center;
    align-items: center;
}

.social {
    display: grid;
    text-align: center;
    justify-content: center;
}